label {
  margin: 10px 0px;
  font-weight: 600;
}
input {
  border-radius: 3px;
  border-color: rgb(192, 192, 192);
}
/* Ovo ispod su 2 utility classe flexa od kojih prva za centriranje containera */
.fx-j-a-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f {
  display: flex;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #fcd530;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card {
  width: 1000px;
  height: 500px;
  flex-direction: column;
  background-color: #ffff;
  border-radius: 5px;
}
.header {
  background-color: red;
  color: #ffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.content {
  height: 129.3%;
}
.content__office {
  width: 50%;
  border-bottom-left-radius: 5px;
}
.content__input {
  flex-grow: 1;
}
.content__input__user-password {
  flex-direction: column;
}
